<div class="top-contents">
  <div class="first-view">
    <img src="/assets/top.jpg" alt="トップ画面" class="top-image">
  </div>
  <div class="middle-content">
    <h2 class="heading-name">家庭内の消耗品の在庫を管理できるアプリ"すとっく"</h2>
      <ul class="feature-list">
        <li>
          <img src="/assets/nichiyouhin.png" alt="1" class="feature-image">
          <h4 class="feature-name">商品リスト機能</h4>
          <p class="description">購入した食品や日用品を在庫一覧画面で投稿し<span>リスト化して在庫を把握できます。</span></p>
        </li>
        <li>
          <img src="/assets/bunbougu_memo.png" alt="2" class="feature-image">
          <h4 class="feature-name">メモ機能</h4>
          <p class="description">買い忘れや買いすぎを防げるよう<span>次買うべき物をメモできます。</span></p>
        </li>
        <li>
          <img src="/assets/computer_nekorogaru_man.png" alt="3" class="feature-image">
          <h4 class="feature-name">発注機能</h4>
          <p class="description">発注画面から商品を検索し、注文できます。<span>大手ECサイトの商品情報から探せます。</span></p>
        </li>
      </ul>
</div>