@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/* header */

.header-name a {
  font-size: 40px;
  color: lightgoldenrodyellow;
  text-decoration: none;
  margin-left: 10px;
  font-family: 'Kosugi Maru', sans-serif;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.navbar .navbar-toggler-icon{
  /* 三本線 */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='lightgoldenrodyellow' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler{
  /* 枠線 */
  border-color: lightgoldenrodyellow;
}

/* footer */

.footer {
  padding-bottom: 60px;
}

footer {
  background-color: lightsalmon;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

/* top画面 */

.main-v {
    position: relative;
    margin-bottom: 30px;
}

.main-container{
    position:relative;
    max-width: 1170px;
    margin-left:auto;
    margin-right:auto;
}

img{
    max-width: 100%;
    height: auto;
}


.main-info h2{
  position: absolute;
  text-align:center;
  background: rgba(33, 33, 44, 0.7);
  color: #fff;
  padding:10px 10px;
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
}
.main-info2 h2{
  position: absolute;
  text-align:center;
  background: rgba(33, 33, 44, 0.7);
  color: #fff;
  padding:10px 10px;
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
}

.main-info3 a {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: 'Kosugi Maru', sans-serif;
  }

@media screen and (max-width: 767px) {
    .main-info h2{
      top: 10px;
      right: 5px;
      font-size: 1.3em;
    }
    .main-info2 h2{
      top: 80px;
      right: 5px;
      font-size: 1.3em;
    }
}

@media screen and (min-width: 768px) {
    .main-info h2{
      top: 40px;
      right: 40px;
    }
    .main-info2 h2{
      top: 120px;
      right: 40px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
}


/* アプリ紹介文 */
section {
  background-color: lightcyan;
  font-size:20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.section-subheading {
  border-bottom: 3px solid lavender;
}

/* 新規登録、ログイン画面 */

div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
  color: lightsalmon;
}


div.contents.row .new_user {
  font-family: 'Kosugi Maru', sans-serif;
}


form input,
form textarea,
form select {
  width: 50%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

form input[type="submit"]:not(.btn) {
  background-color: lightblue;
  border-radius: 20px;
  color: lightgoldenrodyellow;
  border: 0;
  font-size: 18px;
}

.container-1 {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.error-message {
  color: red;
  font-family: 'Kosugi Maru', sans-serif;
}

/* 在庫一覧画面 */


.stock-center {
  text-align: center;
  margin: 35px 0;
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
  color: lightsalmon;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 15px;
    font-family: 'Kosugi Maru', sans-serif;
}

td {
    text-align: center;
    font-size: 18px;
}



th[scope="col"] {
    font-size: 28px;
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
}


.post-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: 'Kosugi Maru', sans-serif;
}

.post-search {
  font-family: 'Kosugi Maru', sans-serif;
}



.post-name {
  text-decoration: none;
}

.search-form {
  display: flex;
  justify-content: center;
} 



/* メモ画面 */

.memo-container {
  font-family: 'Kosugi Maru', sans-serif;
}

.modal-content {
  font-family: 'Kosugi Maru', sans-serif;
}

.botton {
  text-align: right;
}

.split {
  display: table;
  width: 100%;
}

.split-item {
  display: table-cell;
  padding: 40px;
  width: 10%;
}

.split-left {
  position: relative;
}

.split-right {
  position: relative;
}

.split-left__inner {
  height: 100%;
  position: fixed;
  width: 80%;
}



/* 発注画面 */

/* 商品名 */
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5;
  padding-left: 15px;
  font-size: 1.0rem;
  color: #707070;
  text-decoration: none;
  margin-top: 50px;
}

/* 価格 */
.productPrice {
  font-family: "MS Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  padding-left: 15px;
  padding-right: 10px;
  text-align: right;
  color: #D80C18;
}

.card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}

.search-form {
  font-family: 'Kosugi Maru', sans-serif;
}

