@charset "UTF-8";

/* header */
.header {
  height: 80px;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 40px;
  color: lightgoldenrodyellow;
  text-decoration: none;
  margin-left: 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-size: 20px;
}

/* footer */

.footer {
  background-color: lightsalmon;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 15px;
}

/* top画面 */
.contents {
  background-color: lightcyan;
}

.first-view{
  height: 50vh;
}

.top-image {
  height: 100%;
  width: 100%;
}

/* アプリ紹介文 */
.middle-content{
  height: 700px;
  margin: 0 300px;
}

.heading-name {
  border-bottom: 3px solid lavender;
  width: 400px;
  margin: 40px auto;
  font-size: 25px;
  text-align: center;
}


.feature-list {
  display: flex;
  justify-content: space-around;
  margin:100px 0;
}

.feature-image {
  height: 300px;
}

.feature-name {
  font-size:20px;
  text-align: center;
}

.description {
  text-align: center;
}

span {
  display: inline-block;
}




